body {
  font-size: 62.5%;
}

.heading-1 {
  font-size: 3.2rem;
}

.heading-2,.job-title {
  font-size: 2.6rem;

}

.heading-3 {
  font-size: 2rem;
}

.heading-1,.job-title {
  color: #fff;
}


.author {
  font-size: 1.1rem;
  position: relative;
  top: 0;
}

.links {
  font-size: 0.95rem;
}

.project-title {
  font-size: 1rem;
}

.hero {
  height: 400px;
  background-image: url(../images/fabian-grohs-597395-unsplash.jpg);
-webkit-background-size: cover;
background-size: cover;
background-position: center;
}

.placeholder {
  background-image: url(https://via.placeholder.com/205);
  background-size: cover;
  min-height: 205px;
}

.social-media {
    background: #fff;
    color: #444;
    font-size: 0.8rem;
}

a {
   color: #444; 
}

.social-media:hover, a:hover {
    text-decoration: none;
    color: #999;
}